

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */
*{
    margin: 0;
    padding: 0;
}

body>*{
    max-width: 1600px;
    background-color: #1A0B2E;  
}

.display-flex{
    display: flex;
}
.primary-color{
    color: #FFFFFF;
}
.seconday-color{
    color:#00FF88
}

/* header related styles */
 header{
       
    /* background-color: #1A0B2E;  */
}
.nav-container{
    background-color: #1A0B2E;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
.menu-container{
    gap: 314px;
    align-items: center;
}
.menu-container img{
    max-width: 219px;
     max-height: 32px;
}
.menu {
    list-style: none;
    gap: 32px;
}
.menu li a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn{
    padding: 12px 30px;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(45deg, #F7E93F,#FB09B4,#9100F8);
}
/* banner related design */
#banner{
  background-image: url(../assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 760px;
  justify-content: center;
  align-items: center;
}
.banner-container{
    flex-direction: column;
    align-items: center;
}
.img-container{
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    position: relative;
    width: 350px;
    height: 350px;
    margin-top: 100px;
    border: 1 px solid white;

}
 .img-container img{
    padding-top: 80px;
    padding-left: 120px;
  }
#badge{
    padding: 8px 16px;
    background-color: #00FF88;
    color: #1A0B2E;
    position: absolute;
    top: 5px;
    border-radius: 1000px;
    border: none;
}

 .banner-title{
    margin-top: 40px;
    padding-left: 120px;
    font-size: 4rem;
    color: white;
} 
.banner-text{
   padding-bottom: 24px;
}
.button-container{
    gap: 8px;
}
.fa-brands{
    color: white;
    margin-right: 10px;
}

/* podcast related design */
.podcast-container{
    text-align: center;
}
.podcast-title{
    max-width: 1200px;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: 700;
}
.podcast-text{
    max-width: 1200px;
    margin: 0 auto;
    line-height: 20px;
    padding-top: 20px;
}
.hr{
    max-width: 1200px;
    height: 2px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #230E3D;
}
.podcast-data{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    margin-top:80px;
}
.podcast-data h4{
    font-size: 3rem;
    font-weight: 900;
}
.podcast-data p{
    line-height: 26px;
    margin-bottom: 120px;
}

/* why choose section related design */
.choose-section{
    background-color: #230E3D;
}
.choose-container{
    max-width: 1200px;
    margin: 0 auto;    
}
.choose-container h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 120px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 275px);
    gap: 30px;
    padding-top:40px;
}

.choose-title{
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 16px;
}
.audio-card{
    max-width: 100%;
    max-height: 100%;
    padding: 107px 40px;
    background-color: #351165;
    border-radius: 40px;
    grid-row: span 2;
    grid-column: span 1;
}
.audio-card img,
.mobile-card img, 
.global-card img,
.quality-card img,
.resource-card img{
    padding-bottom: 16px;
}
.audio-card p{
    max-width: 300px;
    line-height: 24px;
}

.mobile-card, .global-card, .quality-card{
    max-width: 100%;
    max-height: 100%;
    padding: 40px 40px;
    background-color: #351165;
    border-radius: 40px;
    grid-row: span 1;
    grid-column: span 2;
}
.resource-card{
    max-width: 100%;
    max-height: 100%;
    padding: 40px 40px;
    background-color: #351165;
    border-radius: 40px;
    grid-row: span 1;
    grid-column: span 1;
}

/* features related design */
.features-container{
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    flex-direction: column; 
}
.features-title{
    font-size: 3rem;
    font-weight: 700;
    padding-top: 120px;
}
.features-data{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
}
.features-card{
    max-width: 380px;
    max-height: 440px;
    background-color: #250D44;
    border-radius: 20px;
}
.features-card iframe{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 12px 24px;
}
.card-text{
    padding: 12px 24px;
    line-height: 24px;
}
.card-footer{
    align-items: center;
    gap: 6px;
    padding-left: 24px;
    padding-bottom: 24px;
}



/* responsive related design */
@media screen and (max-width:576px){
    .nav-container, .menu-container{
    background-color: #1A0B2E;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    }
    #banner{    
        width: 100%;
        height: 760px;
    }   
    .podcast-data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    }
    .podcast-title{
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 700;
    }
    .card-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 400px);
    gap: 30px;
    }
    .audio-card{
    max-width: 100%;
    max-height: 100%;
    background-color: #351165;
    border-radius: 40px;
    grid-row: span 1;
    grid-column: span 1;
    }
    .features-data{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 400px);
    gap: 20px;
    align-items: center;
    }
}