.block{
    
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* shared style */
*{
    margin: 0;
    padding: 0;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body>*{
    max-width: 1600px;
    background-color: #1A0B2E;  
}

.display-flex{
    display: flex;
}
.primary-color{
    color: #FFFFFF;
}

/* header related styles */
 header{
       
    /* background-color: #1A0B2E;  */
}
.nav-container{
    background-color: #1A0B2E;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
.menu-container{
    gap: 314px;
    align-items: center;
}
.menu-container img{
    max-width: 219px;
     max-height: 32px;
}
.menu {
    list-style: none;
    gap: 32px;
}
.menu li a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn{
    padding: 12px 30px;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(45deg, #F7E93F,#FB09B4,#9100F8);
}
/* banner related design */
#banner{
  background-image: url(../assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 760px;
  text-align: center;

}
.banner-container{
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 550px;
    max-height: 555px;
    margin: 4px 525px;
    
    
} 
.banner-container img{
    /* background-image: url(../assets/hero-circle.png); */
    /* margin-top: 200px; */
   padding-top: 185px;
}
.banner-title{
    margin-top: 137px;
    font-size: 4rem;
    color: white;
}
.banner-text{
   padding-bottom: 24px;
}

/* podcast related design */
.podcast-container{
    text-align: center;
}

