

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
*{
    margin: 0;
    padding: 0;
}

body>*{
    max-width: 1600px;
    background-color: #1A0B2E;  
}

.display-flex{
    display: flex;
}
.primary-color{
    color: #FFFFFF;
}
.seconday-color{
    color:#00FF88
}

/* header related styles */
 header{
       
    /* background-color: #1A0B2E;  */
}
.nav-container{
    background-color: #1A0B2E;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
.menu-container{
    gap: 314px;
    align-items: center;
}
.menu-container img{
    max-width: 219px;
     max-height: 32px;
}
.menu {
    list-style: none;
    gap: 32px;
}
.menu li a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn{
    padding: 12px 30px;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(45deg, #F7E93F,#FB09B4,#9100F8);
}
/* banner related design */
#banner{
  background-image: url(../assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 760px;
  justify-content: center;
  align-items: center;
}
.banner-container{
    flex-direction: column;
    align-items: center;
}
.img-container{
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    position: relative;
    width: 350px;
    height: 350px;
    margin-top: 100px;
    border: 1 px solid white;

}
 .img-container img{
    padding-top: 80px;
    padding-left: 120px;
  }
#badge{
    padding: 8px 16px;
    background-color: #00FF88;
    color: #1A0B2E;
    position: absolute;
    top: 5px;
    border-radius: 1000px;
    border: none;
}

 .banner-title{
    margin-top: 40px;
    padding-left: 120px;
    font-size: 4rem;
    color: white;
} 
.banner-text{
   padding-bottom: 24px;
}
.button-container{
    gap: 8px;
}
.fa-brands{
    color: white;
    margin-right: 10px;
}

/* podcast related design */
.podcast-container{
    text-align: center;
}
.podcast-title{
    max-width: 1200px;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: 700;
}
.podcast-text{
    max-width: 1200px;
    margin: 0 auto;
    line-height: 20px;
    padding-top: 20px;
}
.hr{
    max-width: 1200px;
    height: 2px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #230E3D;
}
.podcast-data{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    margin-top:80px;
}
.podcast-data h4{
    font-size: 3rem;
    font-weight: 900;
}
.podcast-data p{
    line-height: 26px;
    margin-bottom: 120px;
}

/* responsive related design */
@media screen and (max-width:576px){
    .nav-container, .menu-container{
    background-color: #1A0B2E;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    }
    #banner{    
        width: 100%;
        height: 760px;
    }   
    .podcast-data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    }
    .podcast-title{
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 700;
}
}