.block{
 display: none;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */
*{
    margin: 0;
    padding: 0;
}

body>*{
    max-width: 1600px;
    background-color: #1A0B2E;  
}

.display-flex{
    display: flex;
}
.primary-color{
    color: #FFFFFF;
}
.seconday-color{
    color:#00FF88
}

/* header related styles */
 header{
       
    /* background-color: #1A0B2E;  */
}
.nav-container{
    background-color: #1A0B2E;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
.menu-container{
    gap: 314px;
    align-items: center;
}
.menu-container img{
    max-width: 219px;
     max-height: 32px;
}
.menu {
    list-style: none;
    gap: 32px;
}
.menu li a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn{
    padding: 12px 30px;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(45deg, #F7E93F,#FB09B4,#9100F8);
}
/* banner related design */
#banner{
  background-image: url(../assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1600px;
  height: 760px;
  justify-content: center;
  align-items: center;
}
.banner-container{
    flex-direction: column;
    align-items: center;
}
.img-container{
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    position: relative;
    width: 350px;
    height: 350px;
    margin-top: 100px;
    border: 1 px solid white;

}
 .img-container img{
    padding-top: 80px;
    padding-left: 120px;
  }
#badge{
    padding: 8px 16px;
    background-color: #00FF88;
    color: #1A0B2E;
    position: absolute;
    top: 5px;
    border-radius: 1000px;
    border: none;
}

 .banner-title{
    margin-top: 40px;
    padding-left: 120px;
    font-size: 4rem;
    color: white;
} 
.banner-text{
   padding-bottom: 24px;
}
.button-container{
    gap: 8px;
}
.fa-brands{
    color: white;
    margin-right: 10px;
}
.spotify-button{
    padding: 12px 20px;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(45deg, #F7E93F,#FB09B4,#9100F8);
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.subscribe-btn{
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

/* podcast related design */
.podcast-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 120px;
}
.podcast-title{
    font-size: 3rem;
    font-weight: 700;
}
.podcast-text{
    line-height: 20px;
    padding-top: 20px;
}
.hr{
    width: 75%;
    max-width: 1200px;
    height: 2px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #230E3D;
}
.podcast-data{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    margin-top:80px;
}
.podcast-data h4{
    font-size: 3rem;
    font-weight: 900;
}
.podcast-data p{
    line-height: 26px;
}

/* why choose section related design */
.choose-section{
    background-color: #230E3D;
}
.choose-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;    
}
.choose-container h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 120px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 275px);
    gap: 30px;
    padding-top:40px;
    padding-bottom: 120px;
}

.choose-title{
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 16px;
}
.audio-card{
    max-width: 100%;
    max-height: 100%;
    padding: 107px 40px;
    background-color: #351165;
    border-radius: 40px;
    grid-row: span 2;
    grid-column: span 1;
}
.audio-card img,
.mobile-card img, 
.global-card img,
.quality-card img,
.resource-card img{
    padding-bottom: 16px;
}
.audio-card p{
    max-width: 300px;
    line-height: 24px;
}

.mobile-card, .global-card, .quality-card{
    max-width: 100%;
    max-height: 100%;
    padding: 40px 40px;
    background-color: #351165;
    border-radius: 40px;
    grid-row: span 1;
    grid-column: span 2;
}
.resource-card{
    max-width: 100%;
    max-height: 100%;
    padding: 40px 40px;
    background-color: #351165;
    border-radius: 40px;
    grid-row: span 1;
    grid-column: span 1;
}

/* features related design */
.features-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    flex-direction: column; 
}
.features-title{
    font-size: 3rem;
    font-weight: 700;
    padding-top: 120px;
}
.features-data{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    border: 1px solid white;
}
.features-card{
    max-width: 380px;
    max-height: 440px;
    background-color: #250D44;
    border-radius: 20px;
}
.features-card iframe{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 12px 24px;
}
.card-text{
    padding: 12px 24px;
    line-height: 24px;
}
.card-footer{
    align-items: center;
    gap: 6px;
    padding-left: 24px;
    padding-bottom: 24px;
}

/* host related design */
.meet-section{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 120px;
}
.meet-section h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 40px;
}
.meet-container{
    max-width: 1200px;
    background-color:rgba(53, 17, 101, 0.4);
    align-items: center;
    border-radius: 30px;
}
.meet-img{
    max-width: 200px;
    max-height: 200px;
    padding: 40px;
}
.host-container{
    max-width: 895px;
    
}
.host-container h3{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0px;
}
.host-container p{
    padding-top: 16px;
    line-height: 24px;
}
.social-container{
    align-items: center;
    gap: 10px;
    padding-top: 16px;
    
}
.social-container img{
    width: auto;
    height: auto;
    border: 1px solid #533C72;
    padding: 5px;
    border-radius: 50px;
}

/* footer related design */
footer{
    background-image: url(../assets/footer-bg.png);
    width: 100%;
    max-width: 1600px;
    height: 412px;
    position: relative;
}
.footer-container{
    position: absolute;
    left: 500px;
    top: 120px;
    text-align: center;
}
.footer-logo img{
    width: 410px;
    height: 60px;
    padding-bottom: 30px;
}
.logo-container{
    display: grid;
    grid-template-columns :repeat(4, 1fr);
    place-items: center;
}
.flex{
    display: flex;
    place-items: center;
    gap: 10px; 
}
.footer-text{
    padding-top: 35px;
}


/* responsive related design */
@media screen and (max-width:576px){
    .nav-container {
    width: 100%;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
    }
    .menu-container {
    flex-direction: column;
    gap: 30px;
   }
   #banner{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
   }
   .banner-container{
    width: 100%;
   }
   .img-container{
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    position: relative;
    width: 350px;
    height: 350px;
    margin-top: 100px;
    }
    /* .banner-text{
     padding-bottom: 24px;
     max-width: 400px;
    } */
    .banner-container{
    max-width: 400px;
    flex-direction: column;
    position: absolute;
    left: 80px;
    }
    .podcast-container{
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px;
    }
    .podcast-title{
    font-size: 2rem;
    font-weight: 400;
    }
    /* .podcast-text{
    width: 100%;
    } */
    .hr{
    margin-top: 40px;
     }
    .podcast-data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 40px;
    }
    .podcast-data h4{
    font-size: 2.5rem;
    font-weight: 400;
}
}